<div class="search__wrapper">
  <h4>Search by name:</h4>

  <input type="text" class="search__input" placeholder="Search string" (keyup.enter)="submitSearch(searchString.value)" #searchString />
  <button class="search__button search__submit" (click)="submitSearch(searchString.value)">Search Github</button>
</div>

<div class="results">

  <div class="results__wrapper" *ngIf="user.login && !loading && !showRepoDetails">
    <app-results [user]="user" [repos]="repos" [getRepoDetails]="getRepoDetails"></app-results>
    
  </div>

  <div class="results__loading" *ngIf="loading">
    Loading...
  </div>

  <div class="results__no-results" *ngIf="noResults">
    No Results Found..
  </div>

</div>