.search__wrapper{
    margin:10px auto;
}

input{
    margin:20px 5px;
}

.search__input{
    width:30%;
    height:35px;
    border:1px solid #dedede;
    padding:0 7px;
    color:#492723;
}
.search__button{
    height: 35px;
    padding:0 15px;
    background-color:#2fcb53;
    border:none;
    color:#fff;
    font-weight:300;
    transition-duration: .3s;
}
.search__button:hover{
    background-color:#279f43;
    cursor:pointer;
}
.search__button:active{
    transform:scale(0.9);
}

.results__user .avatar{
    width:40px;
    margin:10px auto;
}

.results__repos{
    margin:20px 0;
}

.results__repos ul{
    list-style: none;
    margin:15px auto;
    padding:0;
    text-align:left;
    width:40%;
}
.results__repos ul li{
    width:100%;
    padding:5px 10px;
    margin:5px 0;
    display:block;
    background: linear-gradient(to right, #f0f0f0 50%,#fafafa 50%);
    background-position:right bottom;
    background-size:200% 100%;
    border-left:4px solid #f0f0f0;
    box-sizing: border-box;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    overflow:auto;
}
.results__repos ul li:hover{
    cursor:pointer;
    transform: translateX(10px);
    background-position:left bottom;
}

.results__repos ul li .fa{
    margin:0 5px;
}


.results__repo-details{
    position:fixed;
    right:50px;
    top:30%;
    width:300px;
    background-color:#fafafa;
    border:1px solid #ededed;
    text-align: left;
    padding:10px;
    box-sizing: border-box;
}