.search__wrapper{
    margin:10px auto;
    border-bottom:1px solid #ededed;
}

input{
    margin:20px 5px;
}

.search__input{
    width:30%;
    height:35px;
    border:1px solid #dedede;
    padding:0 7px;
    color:#492723;
}
.search__button{
    height: 35px;
    padding:0 15px;
    background-color:#2fcb53;
    border:none;
    color:#fff;
    font-weight:300;
    transition-duration: .3s;
}
.search__button:hover{
    background-color:#279f43;
    cursor:pointer;
}
.search__button:active{
    transform:scale(0.9);
}