<div class="search__wrapper">
  <h4>Search by name:</h4>

  <input type="text" class="search__input" placeholder="Search string" (keyup.enter)="submitSearch(searchString.value)" #searchString />
  <button class="search__button search__submit" (click)="submitSearch(searchString.value)">Search Github</button>
</div>

<div class="results">

  <div class="results__user" *ngIf="user.login && !loading">
    <img src="{{user.avatar_url}}" class="avatar"/>
    <h2>{{user.login}}</h2>
  </div>

  <div class="results__repos"  *ngIf="user.login && !loading">
    <h5>Repo's:</h5>
    <ul>
      <li *ngFor="let repo of repos" (click)="getRepoDetails(user.login, repo.name)">
        <span class="left">{{repo.name}}</span>
        <span class="right">{{repo.stargazers_count | number}} <i class="fa fa-star"></i></span>
      </li>
    </ul>
  </div>

  <div class="results__loading" *ngIf="loading">
    Loading...
  </div>

  <div class="results__no-results" *ngIf="noResults">
    No Results Found..
  </div>

  <div class="results__repo-details" *ngIf="showRepoDetails">
    <h5>Repo Details:</h5>
    Name: {{repo.name}} 
    <br />
    Open Issues: {{repo.open_issues}}
    <br />
    Total Stars: {{repo.stargazers_count}}
  </div>

</div>